.introduction {
    background-color: #F5F0ED;
    padding: 0;

    &__wrapper {
        max-width: 140rem;
        margin: 0 auto;
        padding: 12rem 3rem;
        text-align: center;
    }

    & h2 {
        color: $color-primary;
        font-size: 6.5rem;
        line-height: 1.1;

        & span {
            color: $color-secondary;
        }
    }

    &__content {
        width: 77%;
        margin: 5rem auto;

        & p {
            text-align: justify;
            color: $color-primary-light;
            font-size: 2.5rem;
            font-weight: 500;
        }
    }

    & img {
        display: block;
        width: 100%;
    }

    @include responsive(phone) {
        
        &__wrapper {
            padding: 7rem 3rem;
        }

        & h2 {
            font-size: 3rem;
            line-height: inherit;
            margin-bottom: 3rem;
        }

        &__content {
            margin: 0 auto;
            width: 85%;

            & p {
                text-align: center;
                font-size: 1.8rem;
                color: $color-primary;
                font-weight: 400;
            }
        }

        & img {
            height: 40rem;
            object-fit: cover;
            object-position: 40%;
        }
    }
}