* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Fonts
@font-face {
    font-family: 'Neue Haas Display';
    src: url(/assets/fonts/NeueHaasDisplay-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url(/assets/fonts/NeueHaasDisplay-Roman.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url(/assets/fonts/NeueHaasDisplay-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url(/assets/fonts/NeueHaasDisplay-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url(/assets/fonts/NeueHaasDisplay-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (max-width: 512px) {
        font-size: 50%;
    }
}

body {
    min-height: 100vh;
    font-family: $main-font-stack;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height: 1.5;
}

.container {
    position: relative;
}

p {
    line-height: 1.5;
    font-weight: 500;
}

section {
    padding: 3rem;
}