.header {
    position: relative;
    height: 186rem;
    background: url(/assets/images/desktop/Montañas-en-Áncash-Perú.jpg) center no-repeat;
    background-size: cover;

    &__heading {
        text-align: center;
        transform: translateY(25%);

        & h1 {
            font-size: 8rem;
            color: $color-secondary;
        }

        & h2 {
            font-size: 11rem;
            color: $color-primary;
            word-spacing: 1px;
        }

        & img {
            max-width: 35rem;
        }

        & i {
            font-size: 4.5rem;
            color: $color-primary-light;
            font-weight: 400;
        }
    }

    @include responsive(phone) {
        height: 100vh;
        background: url(/assets/images/mobile/header-bg-mobile.jpg) center no-repeat;
        background-size: cover;

        &__heading {
            transform: translateY(0);

            & h1 {
                font-size: 4rem;
            }
    
            & h2 {
                font-size: 5.4rem;
            }
    
            & img {
                width: 17rem;
                margin: 1rem 0;
            }
    
            & i {
                font-size: 2.5rem;
            }
        }
    }
}