.nav-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid #d3d3d3;
    background-color: $color-white;
    padding: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &__menu {
        display: flex;
        list-style-type: none;
        margin: 0 2rem;

        &-item a {
            color: $color-primary;
            font-size: 1.7rem;
            text-decoration: none;
            margin: 0 2rem;
            font-weight: 500;
        }
    }

    &__hamburger {
        cursor: pointer;
        display: none;

        &-bar {
            background-color: $color-primary;
            margin: 6px 0;
            height: 4px;
            width: 25px;
            border-radius: 2px;
            position: relative;
            transition: 0.3s;
        }
        
        &-bar--1.active {
            top: 5px;
            transform: rotate(45deg);
        }
        
        &-bar--2.active {
            transform: rotate(-45deg);
            bottom: 5px;
        }
    }

    & img {
        display: block;
    }

    & img[alt$="diamante"] {
        width: 25px;
    }

    & img[alt$="whatsapp"] {
        width: 20px;
    }

    @include responsive(tab-port) {
        justify-content: space-between;
        flex-wrap: wrap;

        &__menu {
            display: block;
            width: 100%;
            order: 1;
            text-align: center;
            transition: all .3s ease;
            max-height: 0;
            overflow: hidden;

            &-item:not(:last-child) {
                margin: 2rem 0;
            }

            &-item a {
                font-size: 2rem;
            }
        }

        &__hamburger {
            display: block;
        }

        & img[alt$="diamante"] {
            width: 35px;
            margin-right: 9px;
        }

        & img[alt$="whatsapp"] {
            width: 23px;
        }
    }
}